* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.hidden {
  display: none;
}

body {
  width: 100%;
  margin: 0;
}

.body-wrapper {
  padding: 30px 20px;
  background-image: url("../img/background.svg");
  min-height: 100vh;
}

.title {
  font-size: 84px;
  margin-bottom: 30px;
  text-align: center;
  color: #fff;
  font-weight: 700;
}

.board-wrapper {
  display: flex;
  justify-content: center;
}

/* Score section */

.scores-section {
  margin-right: 40px;
  width: 300px;
}

.scores-header {
  display: flex;
  padding: 10px 5px;
  justify-content: space-between;
  color: #fff;
  font-weight: 700;
  font-size: 22px;
}

.refresh {
  padding: 5px;
  border: 2px solid #fff;
  border-radius: 3px;
  background-color: #939382;
  color: #fff;
  font-weight: 700;
}

.scores-board {
  padding-left: 0;
  border: 2px solid #fff;
  border-bottom: 0;
  border-radius: 3px;
}

.scores-board li {
  list-style: none;
  padding: 5px;
  display: flex;
  color: #fff;
  font-weight: 700;
  font-size: 18px;
  border-bottom: 2px solid #fff;
}

.scores-board li:nth-child(odd) {
  background-color: #939382;
}

.scores-board li:nth-child(even) {
  background-color: #131313;
}

/* Add section */

.add-section {
  display: flex;
  flex-direction: column;
  width: 220px;
}

.add-header-text {
  padding: 10px 5px;
  margin-bottom: 20px;
  text-align: center;
  color: #fff;
  font-weight: 700;
}

.add-name,
.add-score {
  padding: 5px 3px;
  margin-bottom: 20px;
  margin-left: 5px;
  margin-right: 5px;
  border: 2px solid #fff;
  background-color: #fff;
  color: #131313;
  border-radius: 3px;
}

.submit-box {
  display: flex;
  justify-content: end;
  margin-right: 5px;
}

.submit {
  padding: 5px;
  border: 2px solid #fff;
  border-radius: 3px;
  background-color: #939382;
  color: #fff;
  font-weight: 700;
}
